.card-container {
    background-color: white;
    padding: 50px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    width: 90%;
    margin: 0 auto;
   max-height: 100%;
   margin-bottom: 50px;
  margin-top: 50px;
  }
  
  .slider-image {
    width: 100%;
    height: auto;
    display: block;
  }
  
  .text-container {
    flex: 1;
    padding-left: 40px; /* Add some space between the slider and the text */
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Align text to the top */
  }
  
  .text-container .MuiTypography-body1 {
    font-size: 24px; /* Increase font size */
    font-weight: 700; /* Increase font weight */
  }
  
  .content-container {
    display: flex;
    align-items: flex-start; 
  }
  
  
  
  .slider-container {
    max-width: 400px; /* Adjust the max-width to set the desired size of the slider */
  }
  
  .slick-dots li button:before {
    font-size: 0;
  }
  
  .slick-dots li {
    width: 20px;
    height: 10px;
    margin: 0 5px;
  }
  
  .slick-dots li.slick-active div {
    background-color: #000;
  }
  
  .custom-dot {
    width: 20px;
    height: 10px;
    background-color: #ccc;
    border-radius: 2px;
  }
  
  .product-description {
    font-size: 24px;
    font-weight: 500;
  }
  
  .price-container {
    display: flex;
    align-items: center;
    margin-top: 12px;
  }
  
  .current-price {
    font-size: 24px;
    font-weight: 500;
  }
  
  .original-price {
    font-size: 16px;
    font-weight: 400;
    text-decoration: line-through;
    color: red;
    margin-left: 12px;
  }
  .container {
    display: flex;
    justify-content: space-between; /* Space between columns */
    padding: 0; /* Remove padding */
  }
  
  .owner-info {
    font-size: 16px;
    font-weight: 500;
    margin-top: 20px;
  }
  
  .owner-name {
    font-size: 16px;
    font-weight: 500;
    text-decoration: underline;
  }
  
  .category-container {
    display: flex;
    justify-content: space-between;
  
    
  }
  
  .category-container2 {
    display: flex;
    
    align-items: flex-start;
    
  }
  
  
  .column {
    display: flex;
    flex-direction: column; /* Arrange children in a column */
    align-items: flex-start; /* Align children to the left */
    width: 45%; /* Adjust width as needed */
    margin: 0; /* Remove margin */
  }
  

  .left-aligned {
    text-align: left; /* Ensure text is aligned to the left */
    font-size: 16px;
    font-weight: 500;
    margin: 0; /* Remove margin */
  }

  .right-aligned {
    font-size: 16px;
    font-weight: 500;
    margin-left: auto;
  }
  
  
  span {
    font-size: 16px;
    font-weight: 400;
  }
  
  .left-image {
    width: 250px; /* Increased width */
    height: 250px;
    float: left; /* Align image to the left */
    margin-right: 20px; /* Add some space to the right of the image */
  }
  
  .title-container {
    display: flex;
    align-items: center;
    margin-top: 20px;
    font-weight: 500;
    font-size: 24px;
    /* Adjust the gap between items as needed */
  }
  .specifications-tab {
    display: flex;
    flex-direction: column;
    gap: 10px; /* Adjust the gap between rows as needed */
  }
  
  .specification-row {
    display: flex;
    justify-content: space-between;
    gap: 20px; /* Adjust the gap between items in the same row as needed */
  }
  
  .specification-row div {
    flex: 1; /* Ensure each item takes equal space */
  }
  
  .history { 
    font-size: 16px;
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 8px;
  }
  
  .view-history {
    font-size: 16px;
    font-weight: 500;
  }
  
  .button-container {
    display: flex;
    gap: 16px; /* Adjust the gap between buttons as needed */
    margin-top: 20px;
      /* Adjust the margin as needed */
  }
  
  .black-button {
    background-color: black !important;
    color: white;
    border: none;
  
    font-size: 16px;
    cursor: pointer;
    width: 100%;
  }

  .header {
   font-weight: 500;
   font-size: 24px;
   ;
  }

  .left-image2 {
    width: 400px; /* Adjust the width as needed */
    height:400px;
    
  
  }

  .custom-divider {
    background-color: lightgrey; /* Updated to light grey */
    height: 1px;
    margin-top:30px !important; /* Add margin-bottom */
    margin-bottom: 20px !important; /* Add margin-bottom */
  }
  
  
  
  
  